# Created by .ignore support plugin (hsz.mobi)
.idea/
.vscode/
*.swp
rpmbuild
docs/_build/
docs/refguide/schema-reference.rst
docs/refguide/schemaref
src/lib/versions.json
node_modules
src/schema/latest/adc-schema.json
src/schema/latest/as3-schema.json
src/schema/latest/def-pointers-schema.json
src/schema/latest/def-shared-schema-core.json
test/logs
examples/as3.examples.collection.json
examples/example-all.json
assets/
docs/redoc-static.html
redoc-static.html

# ignore all of dist
dist/

# ignore coverage output
**/coverage
**/.nyc_output

# ignore npm-debug
**/npm-debug.log

# stryker temp files
.stryker-tmp
